@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);
@import url(http://fonts.googleapis.com/css?family=Rosarivo);

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: url('../imgs/bg1.jpg') center top;
    background-attachment: fixed;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.55em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
}

.navbar-default {
    background: transparent;
    border: none;
    margin: 25px auto;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
header {
    /*background-color: #4C2C10;*/
    min-height: 90vh;
}
.header-logo {
    margin: 50px auto;
    width: 200px;
    height: 200px;
    /*width:291px;*/
    /*height:169px;*/
}
.hero {
    max-width: 880px;
    margin: 0 auto;
    color: #fff;
}
.hero-heading {
    font-size: 48px;
    font-weight: 200;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: 15px auto;
}
.hero-subheading {
    font-size: 36px;
    font-weight: 200;
}
.hero-label {
    font-size: 24px;
    line-height: 1.35417;
    font-weight: 200;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin-top: 70px;
    margin-bottom: 70px;
}
.jumbobuttons {
    margin:0 auto;
    width: 150px;
}
.header-reserve {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    border-radius: 30px;
}

/*================================================================*/

.intro {
    background-color: #f2f2f2;
}
.intro-container {
    padding: 0;
    overflow: hidden;
}
.intro-container > .flex-row {
    display: flex;
    flex-wrap: wrap;
}
.intro-container > .flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
    min-height: 350px;
}
.intro-img {
    background: url('../gallery/new/intro.jpg') center top;
    background-size: cover;
    padding: 0;
}
.intro-img > img {
}
.intro-text {
    /*padding: 50px 0 50px;*/
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-head {
    margin-top: 0;
}
.intro-p {
    width: 70%;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 200;
    margin:20px auto 0;
    color: rgb(51, 51, 51);
}

.benefit {
    background-color: #fff;
    padding-bottom: 100px;
}
.benefit-head {
    margin: 100px auto 0;
}
.benefit-p {
    width: 70%;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 200;
    margin: 20px auto 100px;
    color: rgb(51, 51, 51);
}
.treatment-choice {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.treatment-choice > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.treatment {
    background-color: #f2f2f2;
    padding-bottom: 100px;
}
.treatment-head {
    margin: 100px auto 0;
}
.treatment-choice > div {
    margin-top: 50px;
    padding-bottom: 50px;
}
.treatment-choice-head {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.treatment-price {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 20px;
    margin-left: -15px;
}
.treatment-price-60 {
    padding-right: 30px;
    border-right: 1px solid #000;
}
.treatment-price-90 {
    padding-left: 30px;
}
