@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,600);
@import url(http://fonts.googleapis.com/css?family=Rosarivo);

body {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    background: url('../imgs/bg1.jpg') center top;
    background-attachment: fixed;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.55em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: ltr;
}
@media (min-width: 320px) {
    p {
        font-size: 18px;
    }
    section {
        padding: 50px 0;
    }
    section h2 {
        margin: 0 auto 25px;
    }
    section h3 {
        font-size: 20px;
    }
}
@media (min-width: 768px) {
    p {
        font-size: 20px;
    }
    section {
        padding: 75px 0;
    }
    section h2 {
        margin: 0 auto 50px;
    }
}
@media (min-width: 992px) {
    p {
        font-size: 20px;
    }
    section {
        padding: 75px 0;
    }
    section h2 {
        margin: 0 auto 50px;
    }
}
.dot-hr {
    position: relative;
    width: 7px;
    height: 7px;
    background-color: #000;
    border-radius: 500px;
    display: inline-block;
}
.dot-hr:before {
    right: 15px;
    position: absolute;
    content: '';
    width: 258px;
    height: 1px;
    background-color: #000;
    opacity: 0.33;
    display: block;
    top: 50%;
    margin-top: -1px;
}
.dot-hr:after {
    left: 15px;
    position: absolute;
    content: '';
    width: 258px;
    height: 1px;
    background-color: #000;
    opacity: 0.33;
    display: block;
    top: 50%;
    margin-top: -1px;
}
.well {
    background-color: #fff;
}

.navbar-default {
    background: transparent;
    border: none;
    margin: 25px auto;
    transition:all .3s ease-in;
}
.navbar-sticky {
    background: rgb(76, 44, 16);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
}
.navbar-default .navbar-nav > li.active {
    background-color: #7F4A1B;
    transition:all .3s ease-in;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:visited {
    color: #fff;
    border-bottom:2px solid transparent;
    transition:all .3s ease-in;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    border-bottom: 2px solid #fff;
}
.header {
    /*background-color: #4C2C10;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}
header {
    width: 100%;
}
.header-logo {
    margin: 50px auto;
    width: 200px;
    /*width:291px;*/
    /*height:169px;*/
}
.hero {
    max-width: 880px;
    margin: 0 auto 50px;
    color: #fff;
}
.hero-heading {
    font-size: 48px;
    font-weight: 200;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: 15px auto;
}
.hero-subheading {
    font-size: 36px;
    font-weight: 200;
    margin-bottom: 70px;
}
.hero-label {
    line-height: 1.35417;
    font-weight: 200;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin-bottom: 50px;
}
@media (min-width: 320px) {
    .header-logo {
        width: 150px;
        margin: 25px auto;
    }
    .header-logo > img {
        width: 150px;
    }
    .hero-heading {
        font-size: 28px;
    }
    .hero-subheading {
        font-size: 23px;
        margin-bottom: 50px;
    }
}
@media (min-width: 768px) {
    .header-logo {
        width: 200px;
        margin: 25px auto;
    }
    .header-logo > img {
        width: 200px;
    }
    .hero-heading {
        font-size: 36px;
    }
    .hero-subheading {
        font-size: 30px;
        margin-bottom: 70px;
    }
    .hero-label {
        font-size: 24px;
    }
}
.jumbobuttons {
    margin:0 auto;
    width: 150px;
}
.header-reserve, .header-reserve:visited {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px;
    border-radius: 30px;
    margin-bottom: 50px;
    transition:all .3s ease-in;
}
.header-reserve:hover, .header-reserve:focus {
    color: #fff;
    background-color: #7F4A1B;
    border: 1px solid transparent;
}

/*================================================================*/

.intro {
    background-color: #f2f2f2;
    padding: 0;
}
.intro-container {
    padding: 0;
    overflow: hidden;
}
.intro-container > .flex-row {
    display: flex;
    flex-wrap: wrap;
}
.intro-container > .flex-row > [class*='col-'] {
    display: flex;
    flex-direction: column;
    min-height: 350px;
}
.intro-img {
    background: url('../gallery/new/intro.jpg') center top;
    background-size: cover;
    padding: 0;
}
.intro-img > img {
}
.intro-text {
    /*padding: 50px 0 50px;*/
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-head {
    margin: 0 auto;
}
.intro-p {
    width: 70%;
    line-height: 1.5;
    font-weight: 200;
    margin:20px auto 0;
    color: rgb(51, 51, 51);
}
@media (min-width: 320px) {
    .intro-text {
        padding: 15px;
    }
    .intro-p {
        width: 100%;
    }
}
@media (min-width: 768px) {
    .intro-text {
        padding: 0px;
    }
    .intro-p {
        width: 70%;
    }
}

.benefit {
    background-color: #fff;
}
.benefit-head {
}
.benefit-p {
    width: 70%;
    line-height: 1.5;
    font-weight: 200;
    margin: 20px auto 75px;
    color: rgb(51, 51, 51);
}
@media (min-width: 320px) {
    .benefit-p {
        width: 100%;
        margin: 20px auto 25px;
    }
}
@media (min-width: 768px) {
    .benefit-p {
        width: 70%;
        margin: 20px auto 50px;
    }
}

.treatment-choice {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.treatment-choice > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.treatment {
    background-color: #f2f2f2;
}
.treatment-head {
}
.treatment-choice > div {
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.treatment-choice-head {
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}
.treatment-choice-desc {
    font-size: 18px;
    font-weight: 200;
    line-height: 1.5;
}
.treatment-price {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 20px;
    margin-left: -15px;
}
.treatment-price-couple {
    margin: 15px auto 0;
    font-size: 20px;
}
.treatment-price-60 {
    padding-right: 30px;
    border-right: 1px solid #000;
}
.treatment-price-90 {
    padding-left: 30px;
}
@media (min-width: 320px) {
    .treatment-choice > div {
        margin-bottom: 25px;
        padding-bottom: 50px;
    }
    .treatment-price-60 {
        padding-right: 15px;
    }
    .treatment-price-90 {
        padding-left: 15px;
    }
}
@media (min-width: 768px) {
    .treatment-choice > div {
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    .treatment-price-60 {
        padding-right: 30px;
    }
    .treatment-price-90 {
        padding-left: 30px;
    }
}

.gallery {
    background-color: #fff;
}
.gallery-head {
}

.contact {
    background-color: #f2f2f2;
}
.contact-head {
}
.contact-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.contact-info > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.contact-info-head {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}
.contact-info-p {
    font-size: 18px;
}
@media (min-width: 320px) {
    .contact-info-p {
        font-size: 16px;
    }
}
@media (min-width: 768px) {
    .contact-info-p {
        font-size: 18px;
    }
}

footer {
    padding: 15px 0;
    background-color: rgb(76, 44, 16);
    color: #fff;
}
