@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
/* 
400 -> regular
500 -> medium
600 -> semi bold
700 -> bold
 */

.fw-medium {
    font-weight: 500 !important;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3.75rem;
    background-image: linear-gradient(116.16deg, #FFFAE5 33.54%, #D7A210 68.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    text-shadow: 0px 7px 20px rgba(0, 0, 0, 0.31);
}

h2 {
    font-size: 2.875rem;
    font-weight: 600;
    color: #2E1104;
}

h3 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #2E1104;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.25rem;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.25rem;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 0.05em;
}

.navbar-nav .nav-link:hover {
    color: #FBBE48;
}

.navbar-nav .nav-link.active {
    font-size: 1.75rem;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #FBBE48 !important;
}

#main {
    background-color: #1d1410;
    background-image: url('/assets/imgs/main_bg.png');
    background-size: cover;
}

@media (max-width: 991.98px) {
    #main {
        background-color: #1d1410;
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 200vw;
    }
}

#main .title {
    font-size: 4.125rem;
    background-image: linear-gradient(116.16deg, #FFFAE5 33.54%, #D7A210 68.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 600;
    text-shadow: 0px 7px 20px rgba(0, 0, 0, 0.31);
}

#main .subtitle {
    font-size: 3.125rem;
    font-weight: 400;
    color: #FFFFFF;
}

#main-logo {
    width: 170px;
    margin-top: 40px;
    margin-left: 60px;
}

#main-bg-art {
    width: 30%;
}

.location-selector {
    background-color: #120D11;
    padding: 1.5rem;
    opacity: 0.75;
}

.location-selector.active {
    border: #FBBE48 solid 4px;
    padding: 1.75rem 3rem 1.75rem 3rem;
}

.location-selector>.logo {
    width: 170px;
    height: 140px;
}

.location-selector .name {
    font-size: 2.375rem;
    font-weight: 600;
    color: #FBBE48;
    text-transform: uppercase;
}

.location-container {
    margin-left: 2.375rem;
}

.location-container .locate {
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFFFFF;
}

.location-container .location {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFFFFF;
}

.price>.one {
    width: 50%;
    background-color: #B0631E;
    color: #FFFFFF;
}

.price>.two {
    width: 50%;
    background-color: #B1862C;
    color: #FFFFFF;
}

#massage {
    background-image: url('/assets/imgs/massage_bg.png');
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

#massage .content {
    background-image: url('/assets/imgs/massage_content_bg.png');
    background-size: cover;
    border-radius: 16px;
    padding: 0 3vw 0 3vw;
    aspect-ratio: 1/1;
}

@supports not (aspect-ratio: 1 / 1) {
    #massage .content {
        float: left;
        padding-top: 100%;
        content: "";
    }

    #massage .content {
        display: block;
        content: "";
        clear: both;
    }
}

#massage .content span {
    font-weight: 300;
    color: #3A1B03;
}

#massage .content span.title {
    font-weight: 600;
}

#massage .footnote>p {
    color: #FFFFFF;
}

#massage-carousel-indicator>.massage-carousel-item {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    border: rgba(255, 255, 255, 0.6) solid 2px;
}

#massage-carousel-indicator>.massage-carousel-item.active {
    background-color: #FFFFFF;
    border: #FFFFFF solid 2px;
}

#massage .cover {
    /* width: 38vw; */
}

#massage-art {
    width: 45vw;
    transform: translate(22%, -28%);
}


#treatments {
    background-image: url('/assets/imgs/treatments_bg.png');
    background-size: cover;
    padding-bottom: 80px;
    margin-top: -150px;
}

#treatments h1 {
    color: #2E1104;
    border: #B0631E solid 2px;
    padding: 12px 24px 12px 24px;
    text-shadow: none;
    background-image: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background-clip: unset;
}

#treatments .treatment-bg-art {
    width: 275px;
}

#treatments .card {
    --bs-card-border-width: 0px;
    --bs-card-border-radius: 16px;
    background: linear-gradient(180deg, #381B07 0.09%, #1A120C 100%);
    height: 750px;
}

#treatments .card-img,
.card-img-bottom {
    --bs-card-inner-border-radius: 16px;
}

#treatments .card>.card-body {
    padding: 64px 24px 200px 24px;
    z-index: 1;
}

#treatments .card>.card-body>h4 {
    background-image: linear-gradient(165.4deg, #FFFAE5 39.92%, #D7A210 90.33%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

#treatments .card>.card-body>.card-text {
    color: #FFFFFF;
}

#treatments .card>.card-body>.price {
    padding-left: 24px;
    padding-right: 24px;
}

#treatments .card>.card-body>.price>.one {
    padding: 22px 0px 22px 0px;
}

#treatments .card>.card-body>.price>.two {
    padding: 22px 0px 22px 0px;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #b66526;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 50%;
    opacity: 1;
    cursor: pointer;
}

.carousel-control-next {
    transform: translate(60%, -50%);
}

.carousel-control-prev {
    transform: translate(-60%, -50%);
}

#treatmentCarousel .carousel-item>* {
    padding: 0 0.5rem;
}

@media (max-width: 991px) {
    #treatmentCarousel .carousel-inner .carousel-item>div {
        display: none;
    }

    #treatmentCarousel .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

#treatmentCarousel .carousel-inner .carousel-item.active,
#treatmentCarousel .carousel-inner .carousel-item-next,
#treatmentCarousel .carousel-inner .carousel-item-prev {
    display: flex;
    transition-duration: 1.5s;
}

/* medium and up screens */
@media (min-width: 992px) {

    #treatmentCarousel .carousel-inner .carousel-item-end.active,
    #treatmentCarousel .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    #treatmentCarousel .carousel-inner .carousel-item-start.active,
    #treatmentCarousel .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

#treatmentCarousel .carousel-inner .carousel-item-end,
#treatmentCarousel .carousel-inner .carousel-item-start {
    transform: translateX(0);
}


#banner {
    background-color: #623D21;
    background-image: url('/assets/imgs/banner_bg.png');
    background-size: cover;
}

#banner-bg-art {
    width: auto;
    height: 100%;
}

#banner>.content {
    padding: 72px 96px;
    z-index: 1;
}

#banner .price h1 {
    color: #FFFFFF;
    text-shadow: none;
    background-image: none;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    background-clip: unset;
}

#banner .price>div {
    padding: 24px;
}


#gallery {
    background-image: url('/assets/imgs/gallery_bg.png');
    background-size: cover;
    padding: 72px 0;
}

#gallery .tns-item img {
    margin: 0 auto;
    width: 100%;
}

#gallery .customize-tools {
    position: relative;
}

#gallery .thumbnails {
    margin: 24px 0;
    display: flex;
}

#gallery .thumbnails li {
    cursor: pointer;
    flex: 1;
    margin: 0 4px;
}

#gallery .thumbnails img {
    max-width: 100%;
}

#gallery .controls .prev {
    left: 0;
}

#gallery .controls .next {
    right: 0;
}

#booking {
    background-image: url('/assets/imgs/booking_bg.png');
    background-size: cover;
    padding: 72px 0 112px 0;
}

#booking .nav-pills {
    --bs-nav-pills-link-active-color: #FFFFFF;
    --bs-nav-pills-link-active-bg: #11080E;
    --bs-nav-link-color: #FFFFFF;
    --bs-nav-link-padding-y: 36px;
    --bs-nav-link-hover-color: #FBBE48;
    --bs-nav-link-font-size: 28px;
    --bs-nav-link-font-weight: 500;
}
#booking .nav-item {
    margin: 0px 8px;
}
#booking .nav-pills .nav-link {
    background-color: #11080E;
}
#booking .nav-pills .nav-link.active {
    border: #B1862C solid 5px;
    --bs-nav-link-padding-y: 48px;
    --bs-nav-link-font-size: 36px;
    --bs-nav-link-font-weight: 700;
}
#booking-tab-content {
    background-color: #30211D;
    border: #DFC19F solid 2px;
    border-radius: 30px;
    margin-top: -75px;
}
#booking-tab-content .form-content {
    padding: 144px 176px;
}

#booking-tab-content .form-label {
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 28px;
}
#booking-tab-content .form-control-lg,
#booking-tab-content .form-select-lg {
    border-radius: 0;
}
#booking-tab-content .select-box {
    --bs-gutter-x: 0.5rem;
}
#booking-tab-content .btn {
    --bs-btn-active-color: #FFFFFF;
    --bs-btn-active-bg: #B1862C;
    --bs-btn-active-border-color: #FFFFFF;
    --bs-btn-bg: rgba(177, 134, 44, 0.63);
    --bs-btn-hover-bg: #B1862C;
    --bs-btn-border-color: unset;
    --bs-btn-font-size: 1.75rem;
    --bs-btn-font-weight: 500;
}

#booking-tab-content .btn-check:active+.btn, .btn-check:checked+.btn {
    border: #FFFFFF solid 2px;
    --bs-btn-font-weight: 700 !important;
}
#bookingButton {
    --bs-btn-bg: #B1862C !important;
    --bs-btn-font-weight: 700 !important;
    --bs-btn-font-size: 2.5rem;
    border: #FFFFFF solid 5px;
    border-radius: 16px;
    padding: 24px 72px;
    position: absolute;
    margin-top: -50px;
    right: 15%;
}